<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title>Ajouter/Modifier un contrat</title>
</head>
<body>
<div th:replace="~{layout/navigation :: nav}"></div>
<h1 th:text="${contrat.id == null} ? 'Ajouter un contrat' : 'Modifier un contrat'"></h1>

<form th:action="@{/contrats/enregistrer}" th:object="${contrat}" method="post">
    <input type="hidden" th:field="*{id}" />

    <label>Locataire :</label>
    <select th:field="*{locataire.id}" required>
        <option value="">-- Sélectionner --</option>
        <option th:each="l : ${locataires}" th:value="${l.id}" th:text="${l.nom + ' ' + l.prenom}"></option>
    </select>
    <br><br>

    <label>Unité :</label>
    <select th:field="*{unite.id}" required>
        <option value="">-- Sélectionner --</option>
        <option th:each="u : ${unites}" th:value="${u.id}" th:text="${u.numero}"></option>
    </select>
    <br><br>

    <label>Date début :</label>
    <input type="date" th:field="*{dateDebut}" required><br><br>

    <label>Date fin :</label>
    <input type="date" th:field="*{dateFin}" required><br><br>

    <label>Montant total (FCFA) :</label>
    <input type="number" step="0.01" th:field="*{montantTotal}" required><br><br>

    <button type="submit">Enregistrer</button>
    <a th:href="@{/contrats}">Retour</a>
</form>

</body>
</html>
